# Build artifacts
*.o
core

# Executables
0verkill
0verkill-tty
0verkill-x11
server
editor
xeditor
bot
avi
xavi
sdlavi
test_server

# Web build output
web/index.html
web/index.js
web/index.wasm
web/index.data

# Editor swap files
.*.swp
